html{
    height: 100%;
}

body{
    margin: auto;
    height: 100%;
    max-height:100%;
}

header{
    position: absolute;
    width: 100%;
    margin: auto;
}

nav li{
    float:right;
}

li{
    list-style: none;
    margin: 15px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color:grey;
}

main{
    position:absolute;
    top: 25%;
    width:100%;
    margin: auto;
    height: 50%;
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

form{
    width: 50%;
    margin: auto;
    height: 25%;
}

input[type="text"] {
    position: relative;
    top: 10%;
    width: 100%;
    margin: auto;
   
}

#searchbox{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.972);
    border: 2px solid rgba(231, 228, 228, 0.966);
    border-radius: 25px;
}

#searchbox:hover{
    border: 0px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.16);
}

input[type="submit"]{
    position: relative;
    top: 25%;
    left: 18%;
    margin: 10px;
    padding: 10px;
    width: 130px;
    border:0px;
    border-radius: 5px;
    color: rgb(116, 114, 114);
}

input[type="submit"]:hover{
    border: 1px solid rgba(255, 251, 251, 0.753);
    box-shadow:0 0 1px 1px rgba(0,0,0,0.16);
}

